html {
    font-size: 62.5%;
}

body {
    font-size: 3.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 600;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222; 

/*    background-color: #252423;*/

    background-color: #FD940A;
    background-image: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
}

.container {
    padding: 0px 10% 0px 10%;
    height: 800px;
    width:80%;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: scale(70%);
    transform-origin: bottom;
}

.col {
    text-align:center;
    width: 200px;
    margin: 16px;
    margin-top: 75px;
    display: inline-block;

}

.square {
    opacity: 0;
}

figure>img {
    width:100%;
    filter: drop-shadow(0 0 8px black);
    -webkit-filter: drop-shadow(0 0 8px black);
}

figcaption {
    text-align: center;
}

.wavy.hand {
  position: fixed;
  top:250px; /* 800px/2 - height/2 */
  left: 490px; /* 1280px/2 - width/2 */
  opacity:0.01;
  width: 300px;
  height: 300px;
  transform-origin: 50% 100%;
  transform: 
}
