html {
    font-size: 62.5%;
}

body {
    font-size: 40px;
    line-height: 1.6;
    font-weight: 600;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222; 

/*    background-color: #252423;*/

    background-color: #FD940A;
    background-image: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
    overflow: hidden;
    width:1707px; /* reported width and height on the tablet's browser (which is surprising, as it does not match the tablet's model advertised resolution) */
    height:1067px;
}

.page {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

#options_container {
    display:none;
}

#moods_container {
    height: 100%;
    width: 100%;
    display:none;
}

.mood_col {
    width: 25%;
    height: 100%;
    float:left;
    text-align: center;
    font-size: 40px;
}

.mood_col > img {
    padding: 40px;
    width: 80%
}

.green {
    background-color: #26a269;
}
.yellow {
    background-color: #e5a50a;
}
.blue {
    background-color: #1a5fb4;
}
.red {
    background-color: #a51d2d;
}

#footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: scale(70%);
    transform-origin: bottom;
}

.col {
    text-align:center;
    width: 350px;
    margin: 30px;
    margin-top: 280px;
    display: inline-block;

}

#footer .col {
    width: 170px;
}

figure>img {
    width:100%;
    filter: drop-shadow(0 0 8px black);
    -webkit-filter: drop-shadow(0 0 8px black);
}

figcaption {
    text-align: center;
}

.centered_btn {
  display: none;
  position: fixed;
  top:333px; /* 1067px/2 - height/2 */
  left: 653px; /* 1707px/2 - width/2 */
  opacity:0.6;
  width: 400px;
  height: 400px;
}

.wavy.hand {
  position: fixed;
  top:333px; /* 1067px/2 - height/2 */
  left: 653px; /* 1707px/2 - width/2 */
  opacity:0.01;
  width: 400px;
  height: 400px;
  transform-origin: 50% 100%;
}
