html {
    font-size: 62.5%;
}

body {
    font-size: 23px;
    line-height: 1.6;
    font-weight: 600;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222; 

/*    background-color: #252423;*/

    background-color: #FD940A;
    background-image: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
    overflow: hidden;
    width:1280px;
    height:800px;
}

.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

#options_container {
    display:none;
}

#moods_container {
    height: 800px;
    width: 100%;
    display:none;
}

.mood_col {
    width: 25%;
    height: 100%;
    float:left;
    text-align: center;
    font-size: 40px;
}

.mood_col > img {
    padding: 40px;
}

.green {
    background-color: #26a269;
}
.yellow {
    background-color: #e5a50a;
}
.blue {
    background-color: #1a5fb4;
}
.red {
    background-color: #a51d2d;
}

#footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: scale(70%);
    transform-origin: bottom;
}

.col {
    text-align:center;
    width: 250px;
    margin: 16px;
    margin-top: 75px;
    display: inline-block;

}

.square {
    opacity: 0;
}

figure>img {
    width:100%;
    filter: drop-shadow(0 0 8px black);
    -webkit-filter: drop-shadow(0 0 8px black);
}

figcaption {
    text-align: center;
}

.wavy.hand {
  position: fixed;
  top:250px; /* 800px/2 - height/2 */
  left: 490px; /* 1280px/2 - width/2 */
  opacity:0.01;
  width: 300px;
  height: 300px;
  transform-origin: 50% 100%;
}
