@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Nerko One', cursive;
}

.centered {
    margin: auto;
    width: 80%
}

h1 {
    font-size: 100pt;
    color: #ffcc00;
    text-align: center;
}

button {
    background-color: #ffcc00;
    color: black;
    font-size: 60pt;
  border: none;
  padding: 15px 32px;
  margin: 100px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
