<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Pepper tablet</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">

        <link href="/static/css/fonts.css" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/shapes.css">

        <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">

        <script src="/static/js/anime.min.js"></script>
        <script src="/static/js/jquery-1.12.4.min.js"></script>
    </head>
    <body>

        <div class="page">

            <img id="default" class="wavy hand" src="/static/images/hand.svg" />

            <div id="options_container" class="container">
            </div>
            <div id="moods_container">
                <div id="mood_blue" class="mood_col blue">
                        <img src="/static/images/sad.svg"/>

                        <p>
                        Sick<br/>
                        Sad<br/>
                        Tired<br/>
                        Bored<br/>
                        Moving slowly<br/>
                        </p>
                </div>
                <div id="mood_green" class="mood_col green">
                    <img src="/static/images/happy.svg"/>

                    <p>
                    Happy<br/>
                    Calm<br/>
                    Feeling okay<br/>
                    Focused<br/>
                    </p>
                </div>
                <div id="mood_yellow" class="mood_col yellow">
                    <img src="/static/images/frustrated.svg"/>

                    <p>
                    Frustrated<br/>
                    Worried<br/>
                    Silly/Wiggly<br/>
                    Excited<br/>
                    Loss of some control<br/>
                    </p>
                </div>
                <div id="mood_red" class="mood_col red">
                    <img src="/static/images/angry.svg"/>

                    <p>
                    Mad/Angry<br/>
                    Mean<br/>
                    Yelling/Hitting<br/>
                    Disgusted<br/>
                    Out of control<br/>
                    </p>
                </div>

            </div>


            <div id="footer">
            </div>
        </div>

        <script>

            function popOut(el) {
                $(el).css('z-index', 10);
                anime({
                    targets: el,
                    scale: [
                        {value: 2, duration: 200},
                        {value: 1, duration: 200, delay:200}
                    ],
                    easing: 'easeOutElastic',
                    complete: function(anim) {
                        send(el.id);
                        $(".page").fadeOut(400);
                    }
                });


            };

            function wavyHand() {
                $("#default").css('transform', '');
                $("#default").css('z-index', 1);
                $("#default").show();

                anime({
                    targets: ".wavy.hand",
                    rotate:[
                        {easing:'easeOutQuad', value: -30, duration: 150, delay:1000},
                        {easing:'easeInOutQuad', value: 30, duration: 300},
                        {easing:'easeInOutQuad', value: -30, duration: 300},
                        {easing:'easeInOutQuad', value: 30, duration: 300},
                        {easing:'easeOutQuad', value: 0, duration: 150},
                        {easing:'easeOutQuad', value: -30, duration: 150, delay:1000},
                        {easing:'easeInOutQuad', value: 30, duration: 300},
                        {easing:'easeInOutQuad', value: -30, duration: 300},
                        {easing:'easeInOutQuad', value: 30, duration: 300},
                        {easing:'easeOutQuad', value: 0, duration: 150},
                    ],
                    opacity:[
                        {value: 0.5, duration: 1000},
                        {value: 0., duration: 2000, delay:4000},
                        {value: 0., duration: 500, delay:4000}
                    ],
                    loop: true,
                });
            }


            // Create WebSocket connection.
            const socket = new WebSocket('ws://{{ ws_server_ip }}:{{ ws_server_port }}');

            $("#mood_green").click(function () {popOut(this);});
            $("#mood_yellow").click(function () {popOut(this);});
            $("#mood_blue").click(function () {popOut(this);});
            $("#mood_red").click(function () {popOut(this);});

            $(".wavy.hand").click(function () {popOut(this);});
            wavyHand();

            function send(id) {
                var msg = {
                    type: "choice",
                    id: id
                };

                console.log("Sending back message to robot ctrl: " + JSON.stringify(msg));
                socket.send(JSON.stringify(msg));
            }

            // Listen for messages
            socket.addEventListener('message', function (event) {
                console.log('Message from robotCtrl: ', event.data);
                var msg = JSON.parse(event.data);
                switch(msg.type) {

                    case "helo":
                        console.log("Sending back 'helo'");
                        socket.send(JSON.stringify('helo'));
                        break;

                    // redirect to a different page
                    case "redirect":
                        location.href = msg.url;
                        break;
                    
                    // creates one 'icon' per option
                    case "set_options":

                        for (var i = 0; i < msg.options.length; i++) {
                            var option = msg.options[i];

                            var col = $("<div class=\"col\">");
                            var fig = $("<figure id=\"" + option.id + "\" class=\"square popout\">");
                            var img = $("<img src=\"/static/" + option.img + "\" />");
                            var figcaption = $("<figcaption>" + option.label + "</figcaption>");

                            img.appendTo(fig);
                            figcaption.appendTo(fig);
                            fig.appendTo(col);
                            if ('footer' in option && option.footer) {
                                $("#footer").empty();
                                col.appendTo("#footer");
                            }
                            else {
                                col.appendTo("#options_container");
                            }
                            $(fig).click(function () {popOut(this);});
                        }

                        $("#options_container").show()
                         $(".page").fadeIn(200);


                         anime({
                             targets: ".popout",
                             opacity: 0.7,
                             delay: anime.stagger(400, {start: 500}),
                             easing: 'easeOutQuad',
                             duration: 2000

                         });

                        break;

                    case "clear_options":
                        $("#options_container").empty();
                        break;

                    case "clear_all":
                        $("#default").hide();
                        $("#moods_container").hide();
                        $("#options_container").hide();
                        $("#options_container").empty();
                        $("#footer").empty();
                        break;

                    case "moods":
                        
                        $(".mood_col").css("opacity",0);
                        $("#moods_container").show();

                        anime({
                             targets: ".mood_col",
                             opacity: 1,
                            delay: anime.stagger(250, {start:400}),
                             easing: 'easeOutQuad',
                             duration: 1000
                        });



                    case "debug":
                        console.log("DEBUG MSG FROM robotCtrl: " + msg.msg);
                        break;

                    case "default":
                        $(".page").fadeIn(200);
                        wavyHand();
                        break;
                }
            });

        </script>
    </body>
</html>
