<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div id="main" class="centered">
            <h1>Hiya!</h1>


            <div class="centered">
                <a href="activity/stories/request"><button id="tell_story">Tell a story</button></a>
                <a href="activity/games/request"><button id="play_game">Play a game</button></a>
            </div>
        </div>

        <a href="animations.html">Test animations</a>

        <script>
            // Create WebSocket connection.
            const socket = new WebSocket('ws://{{ ws_server_ip }}:{{ ws_server_port }}');

            // Connection opened
            socket.addEventListener('open', function (event) {
                socket.send('helo');
            });

            // Listen for messages
            socket.addEventListener('message', function (event) {
                console.log('Message from robotCtrl. Going to: ', event.data);
                location.href = event.data;
            });
        </script>

    </body>
</html>
